button{
	padding: 15px 15px;
	font-size: 24px;
	background-color: blue;
	color: white;
	border:none;
	border-radius: 12px;
	cursor: pointer;
	box-shadow: 0px 9px grey;
	outline: none;
}
button:hover{
	transform: translateY(3px);
	box-shadow: 0px 7px grey;
}
button:active{
	box-shadow: 0px 2px grey;
	transform: translateY(5px);
}
div{
	text-align: center;
	margin: 150px;
}
a{
	color: #EFD8F7;
	text-decoration: none; 
	font-weight: bold;
	font-style: italic;
	font-family: Times New Roman;
	margin-top: 70px;
}

.bouton{

	background-color: lawngreen;
	color: black;
}

.bouton:hover{

	background-color: red;
	color: white;
}

.car{
background-color: lawngreen;
color: black;

    margin-top: 70px;


}

.car:active{
	box-shadow: 0px 2px grey;
	transform: translateY(5px);
}

.car:hover{
background-color: red;
color : black;



}

.noire{

		background-color: greenyellow;

}	

.vert{
	background-color: green;
}